- if ('undefined' !== typeof errors && errors.length)
  ul#errors
    - each error in errors
      li.error= error


#twitter-login
  a(href='auth/twitter')
    img(style='border: 0px', src='https://si0.twimg.com/images/dev/buttons/sign-in-with-twitter-l.png')

#azureacs-login
    a(href='/auth/azureacs', style='border: 0px')
      img(style='border: 0px', src=base + 'img/ACS.png')